body {
    font-family: Charcoal, sans-serif
}

nav > ul {
    padding-left: 0;
}

nav > ul > li {
    display: inline-block;
    padding-right: 0.5em
}

main {
    max-width: 650px
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #262626
		color: #ddd
	}
}
