body
  background-color #d9c8ab

blockquote
  font-style italic
  font-size 0.9em
  color #5a597c
  padding 0 1em
  margin 0
  border-left 3px solid grey

pre
  margin-right 2em

section
  border solid #616161 4px
  border-radius 10px
  background #dcdcdc

a
  color #151eca
  text-decoration none

ul
  padding 0
  li
    list-style none
  li:before
    content '\21e8 '
    padding-right 0.5em
