body
  background-color #d9c8ab

section
  border solid #616161 4px
  border-radius 10px
  padding-left 1em
  background #dcdcdc

a
  color #151eca
  text-decoration none

ul
  padding 0
  li
    list-style none
  li:before
    content '\21e8 '
    padding-right 0.5em
