doctype
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width')
        link(type='text/css' rel='stylesheet' href='/assets/style/min.css')
        link(type='text/css' rel='stylesheet' href='/assets/style/style.css')
    body
        nav.nav(tabindex='-1' onclick='this.focus()')
            .container
                a.pagename.current(href='/') jcpst.com
                each link in navlinks
                    a(href='/' + link)= link
        button.btn.btn-close.ntm.sm x
        br
        section.container
            != yield
