doctype
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width')
        link(type='text/css' rel='stylesheet' href='/assets/style/tacit.min.css')
    body
        h1 jcpst.com
        a(href='/') home
        each link in navlinks
            strong #{' || '}
            a(href='/' + link)= link
        hr
        != yield
        hr
        em last deployment: #{new Date()} (#[a(href='https://github.com/jcpst/jcpst') source])
