mixin navlinks (pages)
    each page in pages
        a.navlink(href='/' + page)= page

- var links = ["blog", "code", "contact", "music"]

//-----------------------------------------------------------------------------

doctype
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width')
        link(type='text/css' rel='stylesheet' href='/assets/style/style.css')
        link(type='text/css' rel='stylesheet' href='/assets/style/prism.css')
    body
        header
            a#name(href='/') Joseph Post
            nav
                +navlinks(links)
        main
            != yield
        script(src='/assets/prism.js')
