include _mixins

doctype html
html
    head
        title jcpst.com
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width')
        link(rel='stylesheet' href='/style.css')
    body
        h2 Joseph Post
        nav: ul
            li: a(href='/') home
            li: a(href='/code') code
            li: a(href='/contact') contact
            li: a(href='/music') music
        hr
        main
            block content
