//- Grab the h1 from the markdown file,
//- so it can be displayed as a description
//- in the list of links.
- function getTitle (content) {
-     if (content.indexOf('<!-- body -->') == -1) {
-         return ''
-     } else {
-         return content.split('<!-- body -->')[0];
-     }
- }

h2 BLOG
ul
    each post in _(public.post._contents).reverse().value()
        - var date = post.replace(/\.[^/.]+$/, '')
        unless date === 'index'
            li
                a(href='/post/#{date}')= date
                != ' ' + getTitle(partial('/post/' + date).replace(/<\/?h2[^>]*>/, ''))
