//- Grab the h1 from the markdown file,
//- so it can be displayed as a description
//- in the list of links.
- function getTitle (content) {
-     if (content.indexOf('<!-- body -->') == -1) {
-         return ''
-     } else {
-         return content.split('<!-- body -->')[0];
-     }
- }

h2 NEWS
ul
    each article in _(public.article._contents).reverse().value()
        - var date = article.replace(/\.[^/.]+$/, '')
        unless date === 'index'
            li
                a(href='/article/#{date}')= date
                != ' ' + getTitle(partial('/article/' + date).replace(/<\/?h2[^>]*>/, ''))
