//- Grab the h1 from the markdown file,
//- so it can be displayed as a description
//- in the list of links.
- function getTitle (content) {
-     if (content.indexOf('<!-- body -->') == -1) {
-         return ''
-     } else {
-         return content.split('<!-- body -->')[0];
-     }
- }

h2 NOTES
ul
    each note in _(public.note._contents).reverse().value()
        - var date = note.replace(/\.[^/.]+$/, '')
        unless date === 'index'
            li
                a(href='/note/#{date}')= date
                != ' ' + getTitle(partial('/note/' + date).replace(/<\/?h2[^>]*>/, ''))
